:root {
    --red: #d21e1e;
    --border: 1.5px;
    --black: black;
}

*{
    margin: 0;
    padding: 0;
}

body * {
    transition: all .3s ease;
}

body{
    font-family: "GT Extended Bold","Helvetica Neue",Helvetica,sans-serif;
    background-color: var(--red);
    display: flex;}


nav {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-width: 400px;
    opacity: 1;
    background-color: var(--red);
    z-index: 1;}

main {
    border-left: var(--border) solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;
    width: 100%;
}


.menu-item{
    height: auto;
}

.border-top{
    border-top: var(--border) solid var(--black);
}


h1{
    margin-left: 20px;
} 

.menu-title,  .menu-title > a{
text-decoration: none;
font-size: 40px;
font-weight: bold;
color: var(--black);
}

.works{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.work-item > p {
    position: relative;
    top: 10px;
}

.work-item {
    margin: 40px 0 20px 40px;
    display: flex;
    flex-direction: column;
}

.image-container{
    border: var(--border) solid var(--black);
    overflow: hidden;
}

.img-big{
    border: var(--border) solid var(--black);
    overflow: hidden;
}

img{
    mix-blend-mode: multiply;
    opacity: 1;   
}


img:hover{
    mix-blend-mode: normal;
    cursor: pointer;
} 

.menu-item > #hidden-contact {
    display: none;
}

.menu-item:hover > #hidden-contact{
    display: block;
}

#hidden-contact > a,
#hidden-contact > ul{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 22px;
    font-size: 20px;
    
}

.li-about {
    list-style: none;
}


.section-about {
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

  @media screen and (max-width: 767px) {
  
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        border-left: none;
    }

    .menu-title,  .menu-title > a{
        font-size: 30px;
        }

    .border-top, .border-notop{
        border-bottom: var(--border) solid var(--black);
        border-top: none;
    }

    .work-item > p {
        position: relative;
        top: -10px;
        padding-left: 40px;
        
    }

    .image-container, .img-big{
            border: var(--border) solid var(--black);
            align-items: center;
            margin: 40px 0 20px 40px;
        }

  }

@media (min-width:500px) {
    .image-container, .img-big {
        max-width: 300px;
        max-height: 300px;
    }

}


@media (min-width:1250px) {
    .image-container{
        max-width: 600px;
        max-height: 600px;
    }
    .img-big{
        max-width: 800px;
        max-height: 500px;
    }
}





