:root {
    --red: #d21e1e;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "GT Extended Bold","Helvetica Neue",Helvetica,sans-serif;
    background-color: var(--red)
}

header {
    height: 100svh;
}

.menu-item{
    border-bottom: 2.5px solid rgb(0, 0, 0);
    height: 25%;
    display: block;
    
}

h1{
    margin-left: 20px;
} 

.menu-title, a{
text-decoration: none;
font-size: 100px;
color: rgb(4, 0, 0);
}

#menuitem1 {
    line-height: 106px;
}

main{
    width: 100%
}

.box{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;  
}

.works {
    flex: 50%; 
    box-shadow: 0 0 0 1.5px black;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    width: 50%;
    background-color: var(--red);
    mix-blend-mode: multiply;
    will-change: opacity;
    opacity: 1;
    
}

@media screen and (max-width: 800px) {
    .works {
        flex: 100%;
    }
  }

@media screen and (max-height: 500px) {
    img {
        display: None;
    }
  }

@media screen and (max-height: 800px) {
    .menu-title, a {
        font-size: 60px;
    }
  }

  @media screen and (max-height: 400px) {
    .menu-title, a {
        font-size: 40px;
    }
    #menuitem1 {
        line-height: 60px;
    }
  }

